body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 40px;
  }



  

  .gallery-container {
    width: 1200px; /* FIXED LAPTOP SIZE */
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }

  .gallery-track {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
  }

  .gallery-track::-webkit-scrollbar {
    display: none;
  }

  .slide {
    flex: 0 0 350px; /* size of each image block */
    height: 500px;
    background: #ddd;
    /* border-radius: ; */
    scroll-snap-align: start;
    overflow: hidden;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ARROWS */
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
  }

  .arrow.left { left: 10px; }
  .arrow.right { right: 10px; }


  @media (max-width: 768px) {
    .gallery-container { width: 100%; }
    .arrow.left { left: 10px; }
    .arrow.right { right: 10px; }
    .footer-inner { grid-template-columns: 1fr; text-align: center; }
    .footer-links { margin-top: 10px; }
    .footer-social { margin-top: 10px; }
  }