
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}

body{
  /* overflow: hidden; */
}


/* html, body { overflow-x: hidden; } */

    /* FONTS */
    .belleza-regular {
      font-family: "Belleza", sans-serif;
      font-weight: 200;
      font-style: normal;
    }

    .marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}


.smooch-sans{
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.second-border{
 
  padding-top: 3rem;
  margin-bottom: 5rem;
}

.nav-section{
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 20rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(15, 15, 15, 0.178);
   border-top: 1px solid rgba(15, 15, 15, 0.178);
  width: 90%;
  color: brown;
  justify-content: center;
}

.first-product-image-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width:100%;
  /* align-items: center; */
  justify-content: center;


}
.first-product-image {
  width: 22rem;
  height: 30rem;
  object-fit: cover;
}

.fpi-text1{
  text-align: center;
  margin-top: 1rem;
}


.fpi-text2{
  text-align:center;
  margin-top: 0.5rem;
  color: brown;
  margin-bottom: 10rem;

}
